# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Delete Files'
      'submenu': [
        {
          'label': 'Matching Patterns'
          'command': 'delete-files:deleteMatchingPatterns'
        }
      ]
    ]
  }
]
